* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  height: 50vh;
}
.form {
  display: flex;
  flex-direction: column;
}